<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes - Sobre</title>
</head>
<body>
    <h1>Sobre</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eaque dolore veniam repellendus voluptatem ipsum a? Beatae possimus alias eligendi consequatur sed animi odit recusandae dolorum ea quasi? Ut, vel!</p>
</body>
</html>